.idea
*.pyc
error.log*
info.log*
Crypto*
OpenSSL*
PyJWT*
apiclient*
asn1crypto*
cffi*
cryptography*
enum*
google_api_python_client*
googleapiclient*
httplib2*
idna*
ipaddress*
jwt*
oauth2client*
packaging*
pkg_resources*
pyOpenSSL*
pyasn1*
pycparser*
pycrypto*
pyparsing*
pytz*
requests*
rsa*
setuptools*
simplejson*
six*
tests*
twilio*
uritemplate*
_cffi_backend.so
appdirs*
easy_install.py
google_key.json
*.zip
!twilio_calendar.py